.App {
  text-align: center;
}
/* li {
  list-style: none;
} */
.button {
  border-radius: 5px;
  font-size: 20px;
  margin-left: 10px;
}
.input-field {
  font-size: 20px;
  border-radius: 5px;
}
.container-display {
  margin: 20px;
}

.select-box {
  
  height: 20px;
  width: 50px;
}